<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="logo">
            <h2><a href="{{ url_for('home') }}" class="logo-link">tremdyol</a></h2>
        </div>
        <div class="search-box">
            <form action="{{ url_for('search_results') }}" method="GET">
                <input type="text" name="query" class="search-input" placeholder="Aradığınız ürün, kategori veya markayı yazınız">
                <button type="submit" class="search-button">Ara</button>
            </form>
        </div>
    </div>
    <div class="products-container">
        <h1>Ürünler</h1>
        <div class="products">
            {% for product in products %}
                <a href="{{ url_for('product_detail', product_id=product.id) }}" class="product-card">
                    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="Product Image">
                    <div class="product-details">
                        <h3>{{ product.name }}</h3>
                        <p class="description">{{ product.description }}</p>
                        <p class="price">{{ product.price }} TL</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>
